[colors.primary]
background = '<* if {{olshell.exact}} *>{{olshell.background}}<* else *>{{colors.background.default.hex}}<* endif *>' # base
foreground = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_background.default.hex}}<* endif *>' # text
# Bright and dim foreground colors
dim_foreground = '{{colors.surface_dim.default.hex}}' # text
bright_foreground = '{{colors.surface_bright.default.hex}}' # text

#Cursor colors
[colors.cursor]
text = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
cursor = '{{colors.inverse_surface.default.hex}}' # rosewater

[colors.vi_mode_cursor]
text = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
cursor = '{{colors.inverse_surface.default.hex}}' # lavender

# Search colors
[colors.search.matches]
foreground = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
background = '{{colors.surface_bright.default.hex}}' # subtext0

[colors.search.focused_match]
foreground = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
background = '{{colors.tertiary.default.hex}}' # green

[colors.footer_bar]
foreground = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
background = '{{colors.surface_bright.default.hex}}' # subtext0

# Keyboard regex hints
[colors.hints.start]
foreground = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
background = '{{colors.secondary.default.hex}}' # yellow

[colors.hints.end]
foreground = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
background = '{{colors.surface_bright.default.hex}}' # subtext0

# Selection colors
[colors.selection]
text = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # base
background = '{{colors.inverse_surface.default.hex}}' # rosewater

# Normal colors
[colors.normal]
black = '<* if {{olshell.exact}} *>{{olshell.background}}<* else *>{{colors.surface.default.hex}}<* endif *>' # surface1
red = '{{colors.error.default.hex}}' # red
green = '{{colors.tertiary.default.hex}}' # green
yellow = '{{colors.secondary.default.hex}}' # yellow
blue = '<* if {{olshell.exact}} *>{{olshell.accent}}<* else *>{{colors.primary.default.hex}}<* endif *>' # blue
magenta = '{{colors.error_container.default.hex}}' # pink
cyan = '{{colors.primary_container.default.hex}}' # teal
white = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # subtext1

# Bright colors
[colors.bright]
black = '<* if {{olshell.exact}} *>{{olshell.border}}<* else *>{{colors.outline.default.hex}}<* endif *>' # surface2
red = '{{colors.error.default.hex}}' # red
green = '{{colors.tertiary.default.hex}}' # green
yellow = '{{colors.secondary.default.hex}}' # yellow
blue = '<* if {{olshell.exact}} *>{{olshell.accent}}<* else *>{{colors.primary.default.hex}}<* endif *>' # blue
magenta = '{{colors.error_container.default.hex}}' # pink
cyan = '{{colors.primary_container.default.hex}}' # teal
white = '{{colors.surface_bright.default.hex}}' # subtext0

# Dim color
[colors.dim]
black = '<* if {{olshell.exact}} *>{{olshell.background}}<* else *>{{colors.surface.default.hex}}<* endif *>' # surface1
red = '{{colors.error.default.hex}}' # red
green = '{{colors.tertiary.default.hex}}' # green
yellow = '{{colors.secondary.default.hex}}' # yellow
blue = '<* if {{olshell.exact}} *>{{olshell.accent}}<* else *>{{colors.primary.default.hex}}<* endif *>' # blue
magenta = '{{colors.error_container.default.hex}}' # pink
cyan = '{{colors.primary_container.default.hex}}' # teal
white = '<* if {{olshell.exact}} *>{{olshell.text}}<* else *>{{colors.on_surface.default.hex}}<* endif *>' # subtext1
